@model Masanori.com.App.ViewModels.EmpresaViewComponent

<div style="">
    <div>
        <hr />
        <h4>Compras</h4>
        <br />
    </div>

    @if (Model != null)
    {
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Logradouro)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco.Numero)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Endereco.Logradouro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Endereco.Numero)
                    </td>
                    <td>
                        <a supress-by-action="Edit,ObterEndereco"
                           asp-action="AtualizarEndereco"
                           asp-route-id="@Model.Id"
                           class="btn btn-info"
                           data-modal="">
                            Editar
                        </a>
                    </td>
                </tr>

            </tbody>
        </table>
    }
</div>