@model Masanori.com.App.ViewModels.EmpresaViewComponent

@{
    ViewData["Title"] = "Detalhes da Empresa - " + Model.Nome;
}

<h4>@ViewData["Title"]</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Nome)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Nome)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Cnpj)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Cnpj)
    </dd>
    @*<dt class="col-sm-2">
        Compras
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Compras)
    </dd>*@
</dl>

<div id="EnderecoTarget">
    <partial name="_DetalhesEndereco" />
</div>

@*<div id="CompraTarget">
    <partial name="_DetalhesCompra"/>
</div>*@

<div>
    <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
    <a class="btn btn-warning" asp-action="Index">Voltar</a>
</div>
